.booking {
  background-color: $color-periwinkle;
  background-image: url("../../img/content/background-form-img-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
