@include vp-767 {
  .main-nav {
    position: relative;
  }

  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--opened {
    position: fixed;
    left: auto;
    top: 0;
    bottom: 0;
    right: 8px;
    background-color: $color-alice-blue;
    padding: 75px 23px 10px 22px;
    min-width: 285px;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 23px;
      width: 42px;
      height: 22px;
      background-image: url("../img/svg/logo-icon-black.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .main-nav--opened .main-nav__list {
    display: flex;
  }

  .main-nav--nojs .main-nav__list {
    display: flex;
  }

  .main-nav--nojs .site-list__item {
    justify-content: center;
  }

  .main-nav--nojs {
    position: static;
    top: 0;
    bottom: auto;
    right: 0;
    background-color: $color-alice-blue;
    padding: 15px 23px 10px 22px;
    width: 100%;
    min-width: 285px;
  }
}
