.page-header {
  min-height: 650px;
  z-index: 10;
  padding-top: 36px;
  background-color: $color-periwinkle;
  background-image: url("../img/content/background-img-desktop.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  @include retina {
    background-image: url("../img/content/background-img-desktop@2x.jpg");
  }

  @include vp-1023 {
    padding-top: 30px;
    min-height: 638px;
    background-image: url("../img/content/background-img-tablet.jpg");

    @include retina {
      background-image: url("../img/content/background-img-tablet@2x.jpg");
    }
  }

  @include vp-767 {
    padding-top: 20px;
    min-height: 500px;
    background-image: url("../img/content/background-img-mobile.jpg");

    @include retina {
      background-image: url("../img/content/background-img-mobile@2x.jpg");
    }
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  min-width: fit-content;
}

.page-header__logo a {
  display: flex;
}

.page-header__logo-img {
  width: 70px;
  height: 38px;

  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.page-header__intro {
  margin-top: 196px;
  margin-left: 95px;

  @include vp-1023 {
    margin-top: 218px;
    margin-left: 0;
  }

  @include vp-767 {
    margin-top: 133px;
  }
}

.page-header__intro-wrapper {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.page-header__intro-title {
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-alice-blue;
  letter-spacing: -0.8px;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
  }
}

.page-header__intro-text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
    padding-right: 60px
  }
}

.page-header--active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.8);
}

@include vp-767 {
  .page-header--nojs {
    padding-top: 0;
  }

  .page-header--nojs .container {
    padding: 0;
  }

  .page-header--nojs .page-header__logo {
    display: none;
  }

  .page-header--nojs .page-header__burger {
    display: none;
  }

  .page-header--nojs .page-header__intro {
    margin-top: 50px;
  }
}

