.page-header {
  min-height: 650px;
  z-index: 10;
  padding-top: 35px;
  background-color: #c1d5f0;
  background-image: url("../../img/content/background-img-desktop.jpg");
  background-position: 0 0;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.page-header__logo {
  min-width: fit-content;
}

.page-header__logo-img {
  width: 70px;
  height: 38px;
}

.page-header__intro {
  margin-top: 210px;
  margin-left: 95px;
}

.page-header__intro-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.page-header__intro-title {
  margin: 0;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-alice-blue;
}

.page-header__intro-text {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;
}
@include vp-1023 {
  .page-header {
    min-height: 638px;
    background-image: url("../../img/content/background-img-tablet.jpg");
  }

  .page-header__logo-img {
    width: 38px;
    height: 20px;
  }
  .page-header__intro {
    margin-top: 210px;
    margin-left: 0;
  }
  .page-header__intro-title {
    font-size: 50px;
    line-height: 61px;
  }

  .page-header__intro-text {
    font-size: 18px;
    line-height: 22px;
  }
}

@include vp-767 {
  .page-header {
    position: relative;
  }

  .page-header__logo-img {
    width: 42px;
    height: 22px;
  }
}


